* {
    -theme-color: #10b981;
    -theme-color-700: #14532d;
}

/*#region App default*/
.app-root {
    -fx-background-color: black;
}

.red {
    -fx-background-color: #e11d48 !important;
}

.yellow {
    -fx-background-color: #fbbf24 !important;
}

.yellow .icon {
    -fx-fill: white !important;
}

.hidden {
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

/*#endregion */

/*#region Custom Field*/
.custom-field .icon-ptn {
    -fx-view-order: -1;
    -fx-translate-x: 50;
    -fx-fill: black;
}

.custom-field .circle-filed {
    -fx-padding: 14;
    -fx-background-radius: 99999;
    -fx-background-color: -theme-color;
}

.custom-field .circle-filed {
    -fx-padding: 12;
    -fx-background-radius: 99999;
    -fx-background-color: -theme-color;
}

.custom-field .icon {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.custom-field .icon.group {
    -fx-scale-x: 0.8 !important;
    -fx-scale-y: 0.8 !important;
}

.custom-field .field {
    -fx-background-color: white;
    -fx-view-order: 0;
    -fx-border-width: 0;

    -fx-min-width: 140px;
    -fx-min-height: 50px;

    -fx-font-size: 16px;
    -fx-font-weight: 600;

    -fx-padding: 12px 60px;
    -fx-background-radius: 9999;
}

.custom-field .field .text {
    -fx-text-fill: white;
}


/*#endregion */

/*#region Custom Combobox */
.combo-box .list-cell {
    -fx-alignment: center; /* Centers text in each cell of the dropdown */
}

.combo-box .label {
    -fx-alignment: center; /* Centers the selected item text in the combo box display */
}

.combo-bx {
    -fx-font-size: 14;
    -fx-font-family: Arial;
    -fx-font-weight: 700;

    -fx-padding: 8 12;

    -fx-background-color: white;
    -fx-background-radius: 99999;
    -fx-border-radius: 99999;
    -fx-border-color: #4d4d4d;

    -jfx-focus-color: transparent; /* Remove focus underline color */
    -jfx-unfocus-color: transparent; /* Remove unfocused underline color */
}

.member-bx {
    -fx-background-color: #18181b;
    -fx-border-color: white;
    -fx-padding: 4;
}

.member-bx .text {
    -fx-text-fill: white;
}

.combo-bx .text-field {
    -fx-alignment: center;
}

.combo-bx > .prompt-container {
    -fx-alignment: center;
    -fx-translate-x: -4;
}

.combo-bx .prompt-container .text {
    -fx-fill: transparent;
}

.jfx-combo-box {
    -fx-text-fill: white !important;
}

.jfx-combo-box .cell {
    -fx-text-fill: white !important;
}

/* This styles the dropdown list items */
.jfx-combo-box .list-cell {
    -fx-text-fill: white !important;
}

.combo-bx .arrow-button {
    -fx-padding: 0 !important;
}

.combo-box-popup .list-view {
    -fx-background-radius: 18;
    -fx-border-radius: 18;
    -fx-border-color: transparent;

    -fx-translate-y: 2;
}

.combo-bx .list-view:vertical {
    -fx-padding: 22 0;
    -fx-background-color: #18181b;
}

/*#endregion */

/*#region ScrollBar Default style */
.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;

    -fx-pref-width: 8px;
    -fx-min-width: 8px;
}

.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;

    -fx-pref-height: 8px;
    -fx-min-height: 8px;
}

/* Hide track, buttons, and other elements */
.scroll-bar:vertical .track,
.scroll-bar:horizontal .track,
.scroll-bar .increment-button,
.scroll-bar .decrement-button,
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-opacity: 0;
}

/* Style the thumb */
.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-color: white;
    -fx-background-radius: 9999;
    -fx-opacity: 0.7;
}

/* Hover effect for thumb */
.scroll-bar:vertical .thumb:hover,
.scroll-bar:horizontal .thumb:hover {
    -fx-opacity: 1.0;
}


/*#endregion */

/*#region Menu Item */
.menu-button {
    -fx-pref-width: 36px;
    -fx-pref-height: 36px;
    -fx-background-color: -theme-color;

    -fx-spacing: 0;
    -fx-padding: 0;
}

.menu-button:openvertically {
    -fx-label-padding: 0;
    -fx-padding: 0;
}

.menu-button:openvertically .arrow-button {
    -fx-max-width: 0;
    -fx-pref-width: 0;
    -fx-padding: 0;
    visibility: false;
    -fx-scale-x: 0;
    -fx-managed: false !important;
}

.context-menu {
    -fx-background-color: black;
    -fx-border-color: -theme-color;
    -fx-border-radius: 22;
    -fx-background-radius: 22;
    -fx-padding: 6;
}

.combo-box-popup .list-view .list-cell,
.menu-item {
    -fx-text-fill: white;
    -fx-padding: 8 16;
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-background-radius: 9999;
    -fx-opacity: 1.0;
}

.combo-box-popup .list-view .list-cell:selected,
.menu-item:focused {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-opacity: 1.0;
}

.combo-box-popup .list-view .list-cell:hover,
.menu-item:hover {
    -fx-background-color: -theme-color;
    -fx-text-fill: white;
    -fx-opacity: 1.0;
}

.menu-item .label {
    -fx-text-fill: white;
    -fx-opacity: 1.0;
}


/*#endregion*/

/*#region Text bar or Search bar send message bar*/

.text-bar {
    -fx-max-height: 30px;
    -fx-background-color: #171717;
    -fx-padding: 8px;
    -fx-background-radius: 99999px;
}

.text-bar.white {
    -fx-background-color: white !important;
}

.text-bar-field {
    -fx-padding: 8px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.text-bar-field .text {
    -fx-opacity: 1 !important;
}

.text-bar.white .text-bar-field {
    -fx-text-fill: black !important;
}

.text-bar-btn {
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
    -fx-background-color: -theme-color;
    -fx-background-radius: 999999;
}

.text-bar-btn .icon {
    -fx-scale-x: 0.75;
    -fx-scale-y: 0.75;
}

.text-bar-btn .add {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}


.search-bar {
    -fx-max-height: 50px;
    -fx-background-color: #171717;
    -fx-padding: 4px 8px;
    -fx-background-radius: 99999px;
}

.search-bar-field {
    -fx-padding: 8px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.search-bar-field .scroll-pane {
}

.search-bar-field .prompt-container {
    fx-alignment: center-left;
    -fx-opacity: 0;
}

.search-bar-btn {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: -theme-color;
    -fx-background-radius: 999999;
}

.search-bar-btn .icon {
    -fx-scale-x: 0.75;
    -fx-scale-y: 0.75;
}

.send-message-bar {
    -fx-max-height: 60px;
    -fx-background-color: #171717;
    -fx-padding: 4px 8px;
    -fx-background-radius: 99999px;
}


.send-message-bar-input-fld {
    -fx-padding: 8px;
    -fx-text-fill: white;
}

.send-message-bar-input-fld .scroll-pane {
}

.send-message-bar-input-fld .prompt-container {
    fx-alignment: center-left;
    /*  -fx-opacity: 0;*/
}

.app-message-bar-send-btn {
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-background-color: -theme-color;
    -fx-background-radius: 999999;
}

.app-message-bar-send-btn .icon {
    -fx-scale-x: 0.75;
    -fx-scale-y: 0.75;
}


/*#endregion*/

.rounded-label {
    -fx-text-fill: black;
    -fx-padding: 12;
    -fx-background-radius: 9999;
    -fx-background-color: -theme-color;
}

.rounded-label.red {
    -fx-background-color: red !important;
}

.rounded-label.yellow {
    -fx-background-color: #fbbf24 !important;
}

.rounded-label.green {
    -fx-background-color: #10b981 !important;
}

.rounded-label-ft {
    -fx-padding: 8 14 !important;
    -fx-spacing: 8;
    -fx-graphic-text-gap: 8;
    -fx-background-color: -theme-color;
    -fx-background-radius: 99999;
}

.rounded-label-ft.epic {
    -fx-background-color: #fbbf24;
}

.rounded-label-ft.story {
    -fx-background-color: #1d4ed8;
}

.rounded-label-ft.story .icon {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.rounded-label-ft .text {
    -fx-font-size: 14;
    -fx-font-family: Arial;
    -fx-text-fill: white;
}

.rounded-label-ft .icon {
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}


.custom-button {
    -fx-padding: 10 12;
    -fx-background-radius: 9999;
    -fx-background-color: -theme-color;
    -fx-font-size: 10 !important;
    -fx-text-fill: black;
    -fx-fill: black;
}

.custom-button .text {
    -fx-font-size: 14 !important;
}