
/*#region App Chat Side bar */
.app-chats-sidebar {
    -fx-background-color:transparent;
    -fx-border-color:  transparent #0c0a09 transparent transparent  ; /* top right bottom left */
    -fx-border-width: 2px;
    -fx-border-style:solid;
}
.app-chat-bar-header {
    -fx-padding: 12px 20px;
}
 .app-chat-bar-header-ctn {
    -fx-spacing: 12px;
}
.app-chat-bar-header-p-icon {
    -fx-fill: -theme-color;
    -fx-scale-y: 1.3;
    -fx-scale-x: 1.3;
}

.app-chats-ptn{
    -fx-padding:0 0 0 0;
}
.app-chat-bar-separator{
    -fx-padding: 0 8;
    -fx-spacing: 6px;
}
.app-chat-bar-line {
    -fx-pref-height: 2.5;
    -fx-background-color: #262626;
    -fx-background-radius: 9999px;

}
.app-chat-bar-separator-filters {
    -fx-hgap: 4;
    -fx-vgap: 4;
}
.app-chat-bar-separator-filters-btn{
    -fx-text-fill: white;
    -fx-padding: 8 12;
    -fx-background-color: #0f766e;
    -fx-border-radius: 99999;
    -fx-background-radius: 99999;
}
.app-chat-bar-separator-filters-btn .icon {
    -fx-fill: white !important;
    -fx-scale-y: 0.85;
    -fx-scale-x: 0.85;
}

.search-bar {
    -fx-max-height: 50px;
    -fx-background-color:  #171717;
    -fx-padding: 4px 8px;
    -fx-background-radius: 99999px;
}
.search-bar-field {
    -fx-padding : 8px;
    -fx-text-fill: white;
    -fx-background-color: transparent;

}
.search-bar-field .scroll-pane{
}
.search-bar-field .prompt-container   {
    fx-alignment: center-left;
    -fx-opacity: 0;
}
.search-bar-btn {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: -theme-color;
    -fx-background-radius:  999999;
}
.search-bar-btn .icon {
    -fx-scale-x: 0.75;
    -fx-scale-y: 0.75;
}

.app-chats-scroll {
    -fx-padding:0 0 0 0;
    -fx-background-color:transparent;
}
.app-chats-scroll .viewport {
    -fx-background-color:transparent;
}
.app-chats-scroll-ctn {
    -fx-padding: 12 12;
    -fx-spacing: 6px;
}

.app-chatbox {
    -fx-padding: 8px;
    -fx-pref-height: 60px;
    -fx-background-color: #18181b;
    -fx-background-radius: 12px;
}
.app-chatbox-ctn {
    -fx-spacing: 12px;
}
.app-chatbox-profile {
    -fx-fill: white;
}
.app-chatbox-text{
    -fx-text-fill:white ;
}
.app-chatbox-unread-txt {
    -fx-padding: 2 4;
    -fx-graphic-text-gap: 4;
    -fx-text-fill: black;

    -fx-background-color: -theme-color;
    -fx-background-radius: 99999;

    -fx-border-color: transparent;
    -fx-border-radius: 99999;
    -fx-border-style: solid;
    -fx-border-width: 0.5;

}
.app-chatbox-btn {
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-padding:0px;
    -fx-background-radius: 99999px;

    -jfx-ripple-fill:  -theme-color;
}
.app-chatbox-btn .icon {
    -fx-fill: white;
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}
.app-chatbox-btn:openvertically .arrow-button{
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-opacity: 0;
    visibility: false;
    -fx-scale-y: 0;
    -fx-scale-x: 0;
}
.app-chatbox-menu {
    -fx-padding: 12;
    -fx-background-color: black;
    -fx-background-radius: 12;
}

.app-chat-bar-footer {
    -fx-padding: 12px;
}
.app-chat-bar-footer-btn {
    -fx-min-height: 60px;
    -fx-text-fill : black;

    -fx-padding: 14px;
    -fx-graphic-text-gap: 20px;
    -fx-background-color: -theme-color;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}
.app-chat-bar-footer-btn .icon {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}

/*#endregion */

/*#region App Messages Box */
.app-chat-ptn {
    -fx-padding: 12px;
    -fx-spacing:0;
}

.app-chat-header {
    -fx-padding: 12px;
    -fx-background-color:  #171717;
    -fx-background-radius: 12px;
}
.app-chat-header-btn {
    -fx-pref-width: 36px;
    -fx-pref-height:  36px;
    -fx-min-width: 36px;
    -fx-min-height:  36px;
    -fx-background-color: -theme-color;
    -fx-background-radius:  999999;
}
.app-chat-header-btn.white {
    -fx-background-color:  #ffffff;
}
.app-chat-header-btn.white .icon {
    -fx-fill: black;
}

.messages-scroll {
    -fx-background-color:transparent;
    -fx-background-radius: 12px;
    -fx-background-insets: 12px;
}
.messages-scroll .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 12px;
    -fx-background-insets: 12px;
}
.messages-scroll-ctn {
    -fx-spacing: 20;
    -fx-padding: 40 8 0 0;
}

.app-user-message {
    -fx-spacing: 8px;
}
.app-user-message.from-me {
    -fx-alignment: top-right;
}
.app-user-message-ctn {
    -fx-spacing: 8;
    -fx-padding: 20 20;
    -fx-background-radius: 12;
    -fx-background-color: #171717;
 }
.app-user-message-label {
    -fx-fill: -theme-color;
    -fx-text-fill: -theme-color;
}
.app-user-message-txt {
}

.send-message-bar {
    -fx-max-height: 60px;
    -fx-background-color:  #171717;
    -fx-padding: 4px 8px;
    -fx-background-radius: 99999px;
}
.send-message-bar-input-fld {
    -fx-padding : 8px;
    -fx-text-fill: white;
}
.send-message-bar-input-fld .scroll-pane{
}
.send-message-bar-input-fld .prompt-container   {
    fx-alignment: center-left;
  /*  -fx-opacity: 0;*/
}
.app-message-bar-send-btn {
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-background-color: -theme-color;
    -fx-background-radius:  999999;
}
.app-message-bar-send-btn .icon {
    -fx-scale-x: 0.75;
    -fx-scale-y: 0.75;
}
/*#endregion */

/*#region App Screen Header */
.app-screen-header {
    -fx-padding: 8 4 8 12;
    -fx-spacing: 8;
    -fx-background-color: #0c0a09;
}
.app-screen-header-tab-ctn{
    -fx-spacing: 12px;
}

.app-screen-header-tab-btn-long {
    -fx-background-color: -theme-color;
    -fx-background-radius: 99999;
}
.app-screen-header-tab-btn-long-ctn {
    -fx-spacing: 12px;
    -fx-padding: 0 12 0 0 ;
}

.app-screen-header-tab-btn {
    -fx-padding: 12 16;
    -fx-background-color: white;
    -fx-border-radius: 99999;
    -fx-background-radius: 99999;
}
.app-screen-header-tab-btn.yellow .icon {
    -fx-fill: black !important;
}

.app-screen-header-ctrl-btn{

}
.app-screen-header-ctrl-btn .icon {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}

/*#endregion */

